.root {
  position: relative;
  display: block;
  padding-bottom: 2px;
  padding-inline: 5px;
  border-radius: 0;
  cursor: pointer;
  font-size: 24px;
}

.nav-link {
  color: inherit;
  text-decoration: none;
}
