@media (min-width: 768px) {
  .container {
    display: none;
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-inline: 1.25rem;
  padding-block: 0.625rem;
  background-color: var(--header-color);
}

.title {
  flex: 1;
  text-align: center;
  font-size: 2.5rem;
  text-decoration: none;
  font-family: var(--font-great-vibes);
  font-weight: bold;
  color: var(--font-color-dark-brown);
}

.menu-toggle {
  color: var(--font-color-dark-brown);
  width: 2rem;
  height: 2rem;
  font-weight: bolder;
}

.drawer {
  position: fixed;
  inset: 0;
  top: var(--height-header-mobile);
  transform: translateY(calc(-200% - var(--height-header-mobile)));
  background-color: var(--main-color);
  border-top: var(--thick-brown-border);
}

.open {
  transform: translateY(0);
}
