.root {
  position: relative;
  display: block;
  padding-bottom: 0.25rem;
  padding-inline: 0.5rem;
  border-radius: 0;
  cursor: pointer;
  font-size: 1.5rem;
}

.nav-link {
  color: inherit;
  text-decoration: none;
}
