.root {
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.5rem;
}

.dropdown-back-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  font-weight: bold;
  font-size: 1.75rem;

  /* Half of icon size and half of gap*/
  transform: translateX(calc(-12px - 0.25rem)); 
}

.link {
  text-decoration: none;
  color: inherit;
}
