.root {
  position: sticky;
  top: var(--height-header);
  display: flex;
  z-index: 3;
}

@media (max-width: 767px) {
  .root {
    top: var(--height-header-mobile);
  }
}

.link {
  text-decoration: none;
  line-height: 1;
  color: inherit;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 1.25rem;
  padding-bottom: 0.75rem;
  /* background-color: salmon; */
}
