.root {
  position: sticky;
  top: 140;
  display: flex;
  z-index: 3;
  padding-top: 4px;
}

@media (max-width: 767px) {
  .root {
    top: 90;
  }
}

.link {
  text-decoration: none;
  color: inherit;
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 8px;
  background-color: var(--main-color);
  /* background-color: salmon; */
}
