.root {
  position: sticky;
  top: var(--height-header);
  display: flex;
  z-index: 3;
}

@media (max-width: 767px) {
  .root {
    top: var(--height-header-mobile);
  }
}

.link {
  text-decoration: none;
  line-height: 1;
  color: inherit;
  padding: 1.25rem;
  padding-bottom: 0.75rem;
}

.label {
  display: flex;
  position: relative;
  gap: 0.5rem;
  align-items: center;
}

.label:hover::after {
  content: "";
  position: absolute;
  bottom: -2;
  left: -1;
  right: -1;
  height: 1px;
  background-color: var(--font-color-darker-gray);
}
