:root {
  --max-width: 1000px;

  --header-color: #eadfb2ff;
  --main-color: #fffbe7ff;
  --red-color: #cc333fff;

  --font-color-dark-gray: #595959;
  --font-color-darker-gray: #3f3f3f;
  --font-color-dark-brown: #6a4a3c;

  --thick-brown-border: solid 3px var(--font-color-dark-brown);

  --height-header: 7.25rem;
  --height-header-mobile: 5.75rem;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--height-header) + 3rem);
}

@media (max-width: 767px) {
  html {
    scroll-padding-top: calc(var(--height-header-mobile) + 3rem);
  }
}

body {
  margin: 0;
  color: var(--font-color-darker-gray);
}
