.root {
  width: 100%;
  padding-inline: 5%;
  margin-block: 1rem;
}

.container {
  margin: 0;
  text-align: center;
}

.media {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 350px;
  min-width: 600px;
  background-color: rgb(48, 48, 48);
}

@media (max-width: 767px) {
  .media {
    min-width: 80dvw;
  }
}

.caption {
  margin-top: 0.5rem;
}
