.footer {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  padding: 1.25rem;
  padding-top: 2rem;
  align-items: center;
}

@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    gap: 0.5rem;
  }

  .horizontal-divider {
    display: none;
  }
}

.link {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}
