.root {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  text-decoration: none;
  color: inherit;
  padding-inline: 0.375rem;
  justify-content: center;
}

.icon {
  height: 1rem;
}

.root::after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: -3;
  inset-inline: 0;
  background-color: var(--font-color-dark-brown);

  opacity: 0;
  transform: scaleX(0);
  transform-origin: center;
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}

.hover:hover::after {
  opacity: 1;
  transform: scaleX(1);
}
