.root {
  padding-inline: 2.5rem;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  overflow: visible;
  gap: 2.5rem;
}

.anchor-target {
  scroll-margin-top: calc(7.25rem + 2.5rem);
}