.container {
  padding-inline: 2.5rem;
  display: flex;
  flex-direction: row-reverse;
  overflow: visible;
  gap: 2.5rem;
}

@media (max-width: 767px) {
  .container {
    padding-inline: 1rem;
  }
}
