.root {
  /* padding-block: 20px; */
  padding-inline: 40px;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  overflow: visible;
  gap: 40px;
}

.anchor-target {
  scroll-margin-top: calc(7.25rem + 2.5rem);
}