.root {
  padding-inline: 2.5rem;
}

@media (max-width: 767px) {
  .root {
    padding-inline: 1rem;
  }
}

.container {
  display: flex;
  flex-direction: row-reverse;
  overflow: visible;
  gap: 2.5rem;
}
