.modal {
  position: fixed;
  inset: 0;
  background-color: #000000e3;
  z-index: 20;
  display: flex;
  flex-direction: column;
}

.fullscreen-carousel-container {
  flex: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.close {
  align-self: end;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  color: var(--main-color);
  cursor: pointer;
}
