@media (max-width: 767px) {
  .root {
    display: none;
  }
}

.menu {
  max-width: var(--max-width);
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.625rem;
  padding: 0.625rem;
}

.title {
  display: block;
  width: fit-content;
  margin: auto;
  margin-top: 1rem;
  text-decoration: none;
  font-size: 2.5rem;
  text-align: center;
  font-family: var(--font-great-vibes);
  font-weight: bold;
  color: var(--font-color-dark-brown);
  line-height: 1;
}
