@media (max-width: 767px) {
  .container {
    display: none;
  }
}

.navbar {
  max-width: var(--max-width);
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.title {
  display: block;
  margin-top: 16px;
  margin-bottom: 8px;
  text-decoration: none;
  color: inherit;
  font-size: 40px;
  text-align: center;
}
