.root {
  position: relative;
  display: block;
  padding-bottom: 2px;
  padding-inline: 5px;

  /* border: 3px solid transparent; */
  border-radius: 0;
  cursor: pointer;
}

.root::after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: -3;
  inset-inline: 0;
  background-color: var(--font-color-dark-brown);

  opacity: 0;
  transform: scaleX(0);
  transform-origin: center;
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}

.root:hover::after,
.active::after {
  opacity: 1;
  transform: scaleX(1);
}

.nav-link {
  color: inherit;
  text-decoration: none;
}
