.root {
  position: relative;
  display: block;
  padding-bottom: 0.25rem;
  padding-inline: 0.375rem;

  border-radius: 0;
  cursor: pointer;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.root::after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: 0;
  inset-inline: 0;
  background-color: var(--font-color-dark-brown);

  opacity: 0;
  transform: scaleX(0);
  transform-origin: center;
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}

.root:hover::after,
.active::after {
  opacity: 1;
  transform: scaleX(1);
}

.nav-link {
  color: inherit;
  text-decoration: none;
}
