.menu {
  position: absolute;
  z-index: 3;
  background-color: var(--red-color);
  border: var(--thick-brown-border);
  padding-block: 0.625rem;
  padding-inline: 1.25rem;
  transform: translateX(-50%);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.link {
  position: relative;
  color: var(--main-color);
  text-decoration: none;
  padding-bottom: 0.125rem;
  padding-inline: 0.375rem;
}

.link::after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: -3;
  inset-inline: 0;
  background-color: var(--main-color);

  opacity: 0;
  transform: scaleX(0);
  transform-origin: center;
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}

.link:hover::after {
  opacity: 1;
  transform: scaleX(1);
}
