.root {
  position: absolute;
  z-index: 3;
  background-color: var(--red-color);
  border: var(--thick-brown-border);
  padding: 0.625rem;
  transform: translateX(-50%);
  overflow: auto;
}

.items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.link {
  position: relative;
  color: var(--main-color);
  text-decoration: none;
  padding-bottom: 0.125rem;
  padding-inline: 0.375rem;
}

.link:hover {
  text-decoration: underline;
}
